In [1]:
%pip install pandas
%pip install matplotlib
%pip install seaborn
%pip install scipy

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import zscore

Requirement already satisfied: pandas in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from seaborn) (2.2.6)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Collecting scipy
  Using cached scipy-1.15.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\admin\onedrive\10 academy\week 0\github rrepository\solar_strategy_insights\.venv\lib\site-packages (from scipy) (2.2.6)
Using cached scipy-1.15.3-cp313-cp313-win_amd64.whl (41.0 MB)
Installing collected packages: scipy
Successfully installed scipy-1.15.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Load the CSV file into a pandas DataFrame
# Update the path below to the correct location of your CSV file
df_benin = pd.read_csv('../src/benin-malanville.csv')
df_benin.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

## Summary Statistics & Missing-Value Report

In [8]:
df_benin.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

In [9]:
df_benin.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

## Outlier Detection & Basic Cleaning

In [ ]:
# Checking for missing values in key columns
missing_values = df_benin[['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']].isna().sum()
print("Missing values:\n", missing_values)

# Checking for negative or obviously incorrect values in irradiance columns (should not be negative)
irradiance_cols = ['GHI', 'DNI', 'DHI']
for col in irradiance_cols:
    num_neg = (df_benin[col] < 0).sum()
    print(f"Negative values in {col}: {num_neg}")

# Outlier detection using z-score for sensor readings and wind speed data
outlier_cols = ['ModA', 'ModB', 'WS', 'WSgust']
outlier_report = {}
for col in outlier_cols:
    z_scores = zscore(df_benin[col])
    outliers = np.abs(z_scores) > 3
    outlier_report[col] = outliers.sum()
    print(f"Outliers in {col}: {outlier_report[col]}")

# Show summary of findings
print("\nSummary of missing values and outliers:")
print(missing_values)
print(outlier_report)

Missing values:
 GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64
Negative values in GHI: 258847
Negative values in DNI: 275987
Negative values in DHI: 259182
Outliers in ModA: 27
Outliers in ModB: 63
Outliers in WS: 3109
Outliers in WSgust: 3500

Summary of missing values and outliers:
GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64
{'ModA': np.int64(27), 'ModB': np.int64(63), 'WS': np.int64(3109), 'WSgust': np.int64(3500)}

In [11]:
# Columns to compute z-scores for
cols_to_zscore = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']

# Compute z-scores and flag outliers
zscore_flags = pd.DataFrame(index=df_benin.index)
for col in cols_to_zscore:
    z = zscore(df_benin[col])
    zscore_flags[f'{col}_outlier'] = np.abs(z) > 3

# Show how many outliers per column
zscore_flags.sum()

GHI_outlier         89
DNI_outlier          0
DHI_outlier       3738
ModA_outlier        27
ModB_outlier        63
WS_outlier        3109
WSgust_outlier    3500
dtype: int64

To handle missing values in key columns, you can either drop rows with missing values or impute them using the median. Here’s how to do both:

**Option 1: Drop rows with missing values in key columns**
```python
df_benin_clean = df_benin.dropna(subset=['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust'])
```

**Option 2: Impute missing values in key columns with the median**
```python
df_benin_imputed = df_benin.copy()
for col in ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']:
    median_val = df_benin_imputed[col].median()
    df_benin_imputed[col].fillna(median_val, inplace=True)
```

Choose the approach that best fits your analysis needs.

In [13]:
#Option 1: Drop rows with missing values in key columns

df_benin_clean = df_benin.dropna(subset=['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust'])

In [14]:
#Option 2: Impute missing values in key columns with the median

df_benin_imputed = df_benin.copy()
for col in ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']:
    median_val = df_benin_imputed[col].median()
    df_benin_imputed[col].fillna(median_val, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_21904\1971272914.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_benin_imputed[col].fillna(median_val, inplace=True)

In [18]:
# Export the cleaned DataFrame to CSV

df_benin_clean.to_csv('../cleaned_data/benin_clean.csv', index=False)